---
import ExperienceItem from "./ExperienceItem.astro"
import experienceEs from "@/data/es/experience.json"
import experienceEn from "@/data/en/experience.json"
import { useTranslations, type Lang } from "@/i18n/utils"

interface Props {
  lang: Lang
}

const { lang } = Astro.props
const t = useTranslations(lang)
const experience = lang === "en" ? experienceEn : experienceEs
---

<div class="space-y-20">

  <div>
    <div class="mb-8">
      <h3 class="text-2xl font-bold text-white">
        {t("experience.professional.title")}
      </h3>

      <p class="mt-2 text-neutral-400">
        {t("experience.professional.subtitle")}
      </p>
    </div>

    <ol class="relative">
      {
        experience.professional.map((exp, i) => (
          <li class="anim-fade-in" style={`animation-delay: ${i * 150}ms`}>
            <ExperienceItem {...exp} lang={lang} />
          </li>
        ))
      }
    </ol>
  </div>

  <div>
    <div class="mb-8">
      <h3 class="text-2xl font-bold text-violet-400">
        {t("experience.freelance.title")}
      </h3>

      <p class="mt-2 text-neutral-400">
        {t("experience.freelance.subtitle")}
      </p>
    </div>

    <ol class="relative">
      {
        experience.freelance.map((exp, i) => (
          <li class="anim-fade-in" style={`animation-delay: ${i * 150}ms`}>
            <ExperienceItem {...exp} lang={lang} />
          </li>
        ))
      }
    </ol>
  </div>

</div>
